Repository Cloud-Awesome/cds-core: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-and-test.yaml, pipelines/publish-documentation.yaml

pipelines/build-and-test.yaml:
  pool:
    vmImage: windows-latest
  steps:
  - task: SonarCloudPrepare@1
    inputs:
      SonarCloud: Core
      organization: cloud-awesome
      scannerMode: MSBuild
      projectKey: cds-core
      projectName: cds-core
  - task: NuGetCommand@2
    inputs:
      command: restore
      restoreSolution: '**/*.sln'
  ...

pipelines/publish-documentation.yaml:
  pool:
    vmImage: windows-latest
  steps: null

Adds empty constructor TracingHelper.cs to allow consuming applications to silently disregard any traces
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/CloudAwesome.Xrm.Core.Tests.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/TracingHelperTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/TracingHelper.cs
Due: pipelines/build-and-test.yaml

Test for no results in QueryExtensionTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/QueryExtensionTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.sln.DotSettings
Due: pipelines/build-and-test.yaml

Update tests with FluentAssertions
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/CloudAwesome.Xrm.Core.Tests.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/AssociateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/CloneFromTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/CreateOrUpdateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/CreateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/DeleteTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/DisassociateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/ExecuteWorkflowTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/RetrieveTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/UpdateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/LoggerTests/AppInsightsLoggerTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/LoggerTests/ConsoleLoggerTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/LoggerTests/TextFileLoggerTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/DeleteAllResultsTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/DeleteSingleRecordTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/QueryExtensionTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/RetrieveFromQueryTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/TracingHelperTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/XrmClientTests/GetBaseCurrencyTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/XrmClientTests/GetRootBusinessUnitTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/packages.config
Due: pipelines/build-and-test.yaml

Update README.md
  README.md
Due: none

Exclude Exception classes from code coverage
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.nuspec
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/Exceptions/FeatureRequestException.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/Exceptions/OperationPreventedException.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/Exceptions/QueryBaseException.cs
Due: pipelines/build-and-test.yaml

Extracts FakeXrmEasy initialisation references to unit test base class
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/BaseFakeXrmTest.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/AssociateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/CloneFromTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/CreateOrUpdateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/CreateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/DeleteTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/DisassociateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/ExecuteWorkflowTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/RetrieveTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/EntityExtensionsTests/UpdateTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/LoggerTests/TextFileLoggerTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/DeleteAllResultsTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/DeleteSingleRecordTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/QueryExtensionTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/RetrieveFromQueryTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/XrmClientTests/GetBaseCurrencyTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/XrmClientTests/GetRootBusinessUnitTests.cs
Due: pipelines/build-and-test.yaml

Add FetchXmlString.ToQueryExpression string extension method
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/CloudAwesome.Xrm.Core.Tests.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/ToQueryExpressionTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/QueryExtensions.cs
Due: pipelines/build-and-test.yaml

Update older NuGet SDK Packages
  docs/api/.manifest
  docs/api/CloudAwesome.Xrm.Core.EntityExtensions.yml
  docs/api/CloudAwesome.Xrm.Core.Exceptions.FeatureRequestException.yml
  docs/api/CloudAwesome.Xrm.Core.Exceptions.OperationPreventedException.yml
  docs/api/CloudAwesome.Xrm.Core.Exceptions.QueryBaseException.yml
  docs/api/CloudAwesome.Xrm.Core.Loggers.AppInsightsLogger.yml
  docs/api/CloudAwesome.Xrm.Core.Loggers.ConsoleLogger.yml
  docs/api/CloudAwesome.Xrm.Core.Loggers.TextFileLogger.yml
  docs/api/CloudAwesome.Xrm.Core.QueryExtensions.yml
  docs/api/CloudAwesome.Xrm.Core.TracingHelper.yml
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/CloudAwesome.Xrm.Core.Tests.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/app.config
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/packages.config
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/app.config
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/packages.config
Due: pipelines/build-and-test.yaml, pipelines/publish-documentation.yaml

Extend Retrieve Multiple to page through 5,000+ results, but default to 5,000 limit
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/CloudAwesome.Xrm.Core.Tests.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.Tests/QueryHelperTests/QueryOverMultiplePagesTests.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core.csproj
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/Helpers/XmlHelpers.cs
  src/CloudAwesome.Xrm.Core/CloudAwesome.Xrm.Core/QueryExtensions.cs
Due: pipelines/build-and-test.yaml

Path conditions:
  pipelines/build-and-test.yaml: any of: src
  pipelines/publish-documentation.yaml: any of: docs
